.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

body > header {
  padding: 2rem;

  .brand {
    display: flex;
    align-items: center;

    .logo #utk-logo {
      height: 3rem;
      margin-right: 2rem;
    }

    .unit {
      @extend h2;

      margin: 0;
    }
  }
}

body > .campus {
  border-top: 0.5rem solid $orange;
  box-sizing: content-box;
  color: $smokey;
  background-color: $white;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba($smokey, 0.125);

  .campus-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    position: relative;
    font-size: $font-sm;

    .utk-campus-back {
      color: $smokey;
      font-weight: 400;
      display: flex;
      align-items: center;
      height: 100%;
      background-color: $white;
      align-self: flex-start;
      flex-grow: 1;

      span {
        color: $rock;
        font-size: 0.75em;
        margin-top: -2px;
        margin-right: 0.25rem;
      }
    }

    .utk-campus-nav {
      border-left: 1px solid $gray-0;
      color: $smokey;
      font-weight: 400;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      height: 100%;
      background-color: $white;

      span {
        color: $rock;
        font-size: 0.75em;
        margin-top: -2px;
        margin-left: 0.25rem;
      }
    }

    .utk-campus-search {
      border-left: 1px solid $gray-0;
      color: $smokey;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 100%;

      input {
        border: none;
        height: 100%;
        background-color: $gray-0;
        padding: 0 1rem;
        color: $smokeyx;
        font-family: $sans;
        font-size: $font-sm;

        &::placeholder {
          color: $rock;
        }
      }

      button {
        @extend .btn;
        @extend .btn-muted;

        border-left: 1px solid $gray-0;
        border-right: 1px solid $gray-0;
        padding: 0 1rem;
        margin: 0;
        box-shadow: none;
        font-size: $font-sm;
        font-weight: 400;
        border-radius: 0 !important;
        background-color: $white;
        height: 100%;
        font-family: $sans;

        &::after {
          color: $rock;
          margin-left: 0.5rem;
          content: "\e800";
          font-family: fontello, monospace;
          font-style: normal;
          speak: none;
          font-weight: 400;
          text-decoration: inherit;
          text-align: center;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          font-size: 0.75em;
          display: inline-flex;
          align-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          transition: left 200ms ease;
          left: 0;
          position: relative;
          margin-top: -0.06125em;
        }
      }
    }
  }
}
