.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

body > header {
  padding: 2rem;

  .brand {
    display: flex;
    align-items: center;

    .logo #utk-logo {
      height: 3rem;
      margin-right: 2rem;
    }

    .unit {
      @extend h2;

      margin: 0;
    }
  }
}
