.btn {
  display: inline-flex;
  font-size: $font-md;
  font-weight: 400;
  background-color: $globe;
  color: $white;
  padding: 0.75em 1.5em;
  line-height: 1.25em;
  text-decoration: none;
  margin-right: 1.5em;
  box-sizing: content-box;
  letter-spacing: -0.025em;
  transition: none;
  border: none;
  margin-bottom: 1rem;
  border-radius: 0 !important; // override any gutenberg styling
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $leconte;
  }

  &-primary {
    background-color: $primary;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: $leconte;
    }
  }

  &-secondary {
    background-color: $secondary;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  &-muted {
    background-color: $gray-0;
    color: $smokey;

    &:hover,
    &:focus {
      color: $smokey;
      background-color: $gray-1;
    }
  }

  &-sm {
    font-size: $font-sm;
  }

  &-md {
    font-size: $font-md;
  }

  &-lg {
    font-size: $font-lg;
  }

  &-outline {
    border: 1px solid $gray-0;

    &.btn-primary {
      background-color: transparent;
      color: $primary;
      border-color: $primary;
    }

    &.btn-secondary {
      background-color: transparent;
      color: $secondary;
      border-color: $secondary;
    }

    &.btn-muted {
      background-color: transparent;
      color: $smokey;
      border-color: $gray-0;
    }
  }
}
