.btn {
  display: inline-flex;
  font-size: $font-md;
  font-weight: 700;
  background-color: $globe;
  color: $white;
  padding: 0.75em 1.5em;
  line-height: 1.25em;
  text-decoration: none;
  margin-right: 1.5em;
  box-sizing: content-box;
  letter-spacing: -0.025em;
  transition: none;
  border: none;
  margin-bottom: 1rem;
  border-radius: 0.25rem !important; // override any gutenberg styling

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $leconte;
  }

  &-primary {
    background-color: $primary;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: $leconte;
    }
  }

  &-secondary {
    background-color: $secondary;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  &-muted {
    background-color: $gray-1;
    color: $smokey;

    &:hover,
    &:focus {
      color: $smokey;
      background-color: $gray-2;
    }
  }

  &-orange {
    background-color: $white;
    color: $smokey;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      width: calc(100% - 3em);
      height: 0.125em;
      background-color: $orange;
      position: absolute;
      bottom: 0.65em;
    }

    &:hover,
    &:focus {
      color: $smokey;
      background-color: $gray-0;
    }
  }

  &-sm {
    font-size: $font-sm;
  }

  &-md {
    font-size: $font-md;
  }

  &-lg {
    font-size: $font-lg;
  }

  &-outline {
    border: 2px solid $gray-1;

    &.btn-primary {
      background-color: transparent;
      color: $primary;
      border-color: $primary;
    }

    &.btn-secondary {
      background-color: transparent;
      color: $secondary;
      border-color: $secondary;
    }

    &.btn-muted {
      background-color: transparent;
      color: $smokey;
      border-color: $gray-1;
    }
  }
}
